bertopic==0.17.0
matplotlib==3.10.0
mwparserfromhell==0.6.6
nltk==3.9.1
pandas==2.2.2
pypdf==5.4.0
requests==2.32.3
scikit-learn==1.6.1
sentence-transformers==4.1.0
spacy==3.8.4
textstat==0.7.5
transformers==4.51.1
torch==2.6